.bodyall {
  background-color: DarkSalmon;
}

.jumbotron {
  background-color: DarkSalmon;
}

.jumbotron h1 {
  color: DarkRed;
  font-family: georgia;
  font-size: 90px;
  text-align: center;
  border-style: dotted;
}

img {
  border: 10px solid DarkRed;
}

.blockquote h2 {
  font-family: georgia;
  font-size: 45px;
  color:DarkRed;
}

.blockquote li {
  font-family: georgia;
  font-size: 20px;
  list-style-type: none;
}

.mainbiohead  {
  font-family: georgia;
  font-size: 45px;
  color: DarkRed;
  text-align: center;
}

.bioparagraph {
  font-family: georgia;
  font-size: 20px;

}
