.bodyall {
  background-color: DarkSalmon;
}

.jumbotron {
  background-color: DarkSalmon;
}



.jumbotron h1 {
  color: DarkRed;
  font-family: arial;
  font-size: 90px;
  text-align: center;
  border-style: dotted;
}

img {
  border: 10px solid DarkRed;
}

.shortbio {
  border-style: dotted;
  border-width: 2px;
}

.mainbiohead {
  border-style: dotted;
  border-width: 2px;
}

.blockquote h2 {
  font-family: arial;
  font-size: 45px;
  color:DarkRed;
}

.blockquote li {
  font-family: arial;
  font-size: 20px;
  list-style-type: none;
}

.mainbiohead {
  font-family: arial;
  font-size: 45px;
  color: DarkRed;
  text-align: center;
}

.bioparagraph {
  font-family: Arial;
  font-size: 20px;

}

.blockquotegrace {
  font-family: arial;
  font-size: 20px;
  text-align: center;
}

.quoteh2 {
  font-family: Arial;
  color: DarkRed;
  border-style: dotted;
  border-width: 2px;
}

.blockquote-footer {
  color: DarkRed;
  font-family: arial;
  text-align: left;
}

.sourcelink p {
  color: black;
}

.nextpagebutton {
  text-align: right;
}

.next {
  color: DarkRed;
  text-align: right;

}

.next a:hover {
  background-color: DarkRed;
  color: white;
}

.topbutton {
  color: DarkRed;
  text-align: center;
}

.footerlink {
  color: black;
  text-decoration: underline;
}
