.bodyall {
  background-color: DarkSalmon;
}

.jumbotron {
  background-color: DarkSalmon;
}



.jumbotron h1 {
  color: DarkRed;
  font-family: georgia;
  font-size: 90px;
  text-align: center;
  border-style: dotted;
}

img {
  border: 10px solid DarkRed;
}


.blockquote h2 {
  font-family: georgia;
  font-size: 45px;
  color:DarkRed;
}

.blockquote li {
  font-family: georgia;
  font-size: 20px;
  list-style-type: none;
}

.mainbiohead {
  font-family: georgia;
  font-size: 45px;
  color: DarkRed;
  text-align: center;
}

.bioparagraph {
  font-family: georgia;
  font-size: 20px;

}

.blockquotegrace {
  font-family: arial;
  font-size: 20px;
  text-align: center;
}



.blockquote-footer {
  color: DarkRed;
  font-family: georgia;
  text-align: left;
}

.sourcelink p {
  color: black;
}

.nextpagebutton {
  text-align: right;
}

.next {
  color: DarkRed;
  text-align: right;

}

.next a:hover {
  background-color: DarkRed;
  color: white;
}
