.jumbotron {
  background-color:DarkSalmon;
}


.jumbotron h1 {
  color: DarkRed;
  font-family: georgia;
  font-size: 80px;
  text-align: center;
  border-style: dotted;
}


.rounded {
  border-radius: 50%;
  height: 380px;
  width: 380px;
}
